form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 0 auto;
}

input[type="text"],
input[type="number"],
textarea {
  border: 1px solid #ccc;
  border-radius: 25px;
  padding: 10px;
  margin: 5px 0;
  font-size: 16px;
}

button[type="submit"] {
  background-color: #32a4c9;
  width: 20vw;
  color: #fff;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}
label {
  display: block;
  margin-bottom: 10px;
}
